@charset "UTF-8";
/* CSS Document */

$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@700&display=swap');

$breakpoints: (
'sp': (max-width: 480px),
'tab': (max-width: 780px),
'note': (max-width: 1024px),
'pc': (min-width: 1025px)
) !default;
@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

@mixin wrap{
    max-width: calc(1000px + 2rem);
    margin: auto;
    padding: 0 1rem;
}

.is_pc,
.is_tab,
.is_onlytab,
.is_sp{
    display: none;
}
@include media(sp){
    .is_sp{
        display: block;
    }
}
@include media(tab){
    .is_tab{
        display: block;
    }
}
@media screen and (min-width: 481px) and (max-width: 1024px){
    .is_onlytab{
        display: block;
    }
}
@include media(pc){
    .is_pc{
        display: block;
    }
}
@mixin serif{
    font-family: 'Noto Serif JP', serif;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;

    @include media(sp){
        font-size: 14px;
    }
    body{
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 1.7;

        a{
            text-decoration: none;
            color: #000000;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

header{
    z-index: 999;
    background: transparent;
    transition: background 0.3s;
    position: fixed;
    width: 100%;
    @include media(tab){
        background-color: transparent !important;
    }

    .inner{
        display: flex;

        h1{
            .logo{
                display: none;
            }
        }
        .navigation{
            margin-left: auto;

            &.is_pc{
                ul{
                    display: flex;
                    gap: 30px;
                    padding: 50px;

                    li{
                        &:nth-child(even){
                            border-left: 1px solid $white;
                        }
                        a{
                            color: $white;
                            font-weight: 700;
                        }
                    }
                }
            }
            &.is_tab{
                #menuToggle{
                    display: block;
                    position: relative;
                    right: 24px;
                    top: 28px;
                    z-index: 1;
                    -webkit-user-select: none;
                    user-select: none;

                    input{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 2;
                        -webkit-touch-callout: none;
                    }
                    span{
                        display: block;
                        width: 50px;
                        height: 2px;
                        margin-bottom: 12px;
                        position: relative;
                        background: #cdcdcd;
                        z-index: 2;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;

                        &:first-child{
                            transform-origin: 0% 0%;
                        }
                        &:nth-last-child(2){
                            transform-origin: 0% 100%;
                        }
                    }
                    input:checked ~ span{
                        opacity: 1;
                        transform: rotate(45deg) translate(-2px, -4px);
                    }
                    input:checked ~ span:nth-last-child(3){
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    input:checked ~ span:nth-last-child(2){
                        transform: rotate(-45deg) translate(0, 2px);
                    }
                    input:checked ~ ul{
                        transform: none;
                    }
                }
                #menu{
                    height: 100%;
                    position: fixed;
                    left: 0;
                    top: 0;
                    margin: 0;
                    width: 100%;
                    z-index: 1;
                    padding: 1rem;
                    padding-top: 80px;
                    background: $blue;
                    list-style-type: none;
                    -webkit-font-smoothing: antialiased;
                    transform-origin: 0% 0%;
                    transform: translate(300%, 0);
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li{
                        &:nth-child(even){
                            border-bottom: 1px solid $white;
                        }
                        a{
                            font-size: 16px;
                            text-align: left;
                            font-weight: 700;
                            color: $white;
                        }
                    }
                }
            }
        } 
    }
}

footer{
    
}