img {
  max-width: 100%;
}

.mv {
  margin-top: 40px;
}
.mv .page-title {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
@media screen and (max-width: 660px) {
  .mv .page-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.mv .page-title h2 {
  border-left: 1px solid black;
  padding-left: 35px;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 {
    padding: 4px 0 4px 15px;
  }
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 img {
    margin-bottom: 10px;
    max-width: 118px;
  }
}
.mv .page-title h2 span {
  font-size: 14px;
  padding-left: 35px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 span {
    padding-left: 0;
  }
}
.mv .page-title h2 br {
  display: none;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 br {
    display: block;
  }
}
.mv .bread {
  max-width: calc(1000px + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 15px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .mv .bread {
    display: none;
  }
}

.branch__contents {
  margin-top: 100px;
}
@media screen and (max-width: 660px) {
  .branch__contents {
    margin-top: 50px;
  }
}
.branch__contents .wrap {
  max-width: calc(1000px + 2rem);
  padding: 0 1rem;
  margin: 0 auto;
}
.branch__contents .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .branch__contents .inner {
    gap: 30px;
    justify-content: center;
  }
}
.branch__contents .inner .branchs {
  width: 300px;
  border-top: 1px solid black;
  margin-bottom: 120px;
}
@media screen and (max-width: 660px) {
  .branch__contents .inner .branchs {
    margin: 0 auto 70px;
  }
}
.branch__contents .inner .branchs dl {
  margin: 10px 0;
}
.branch__contents .inner .branchs dl dd {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.branch__contents .inner .branchs dl .headquarters-dd {
  margin-top: 5px;
}
.branch__contents .inner .branchs ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.branch__contents .inner .branchs ul li {
  width: 145px;
  height: 42px;
}
.branch__contents .inner .branchs ul li a {
  display: block;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 42px;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt" 1;
  transition: all 0.3s;
}
.branch__contents .inner .branchs ul li a:hover {
  background-color: #bfbfbf;
}
.branch__contents .inner .branchs .arrow {
  display: none;
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s;
}
@media screen and (max-width: 660px) {
  .branch__contents .inner .branchs .arrow {
    display: block;
  }
}
.branch__contents .inner .branchs .arrow.open {
  transform: rotate(180deg);
}

.due {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .due {
    margin-bottom: 70px;
  }
}
.due .mv picture {
  display: none;
}
.due .mv .links {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.due .mv .links ul {
  max-width: 1070px;
  margin: 0 auto;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .due .mv .links ul {
    flex-wrap: wrap;
    padding-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .due .mv .links ul {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .due .mv .links ul li {
    width: 26%;
    margin-bottom: 20px;
    text-align: center;
  }
  .due .mv .links ul li:nth-child(1), .due .mv .links ul li:nth-child(4), .due .mv .links ul li:nth-child(7) {
    text-align: left;
  }
  .due .mv .links ul li:nth-child(3n) {
    text-align: right;
  }
}
.due .mv .links ul li a {
  font-size: 14px;
  color: #808080;
  letter-spacing: 0.1em;
  transition: all 0.2s;
}
.due .mv .links ul li a:hover {
  color: #d90000;
}
.due .mv .links ul .active a {
  padding-top: 5px;
  border-top: 1px solid black;
  color: black;
  pointer-events: none;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .due .mv .links .pc {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .due .mv .links .sp {
    display: none;
  }
}
.due_contents .inner {
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
}
.due_contents .inner .item {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .due_contents .inner .item {
    margin-top: 50px;
  }
}
.due_contents .inner .item h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf;
}
.due_contents .inner .item dl {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .due_contents .inner .item dl {
    margin-top: 25px;
  }
}
.due_contents .inner .item dl dt {
  font-size: 20px;
}
.due_contents .inner .item dl dd {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 24px;
  font-feature-settings: "palt" 1;
}
@media screen and (max-width: 768px) {
  .due_contents .inner .item dl dd {
    margin-top: 15px;
  }
}
.due_contents .inner .button {
  width: 220px;
  margin: 100px auto 0;
  border: 1px solid black;
  text-align: center;
  border-radius: 28px;
}
@media screen and (max-width: 768px) {
  .due_contents .inner .button {
    margin-top: 50px;
  }
}
.due_contents .inner .button a {
  display: block;
  line-height: 56px;
  font-size: 14px;
  font-weight: bold;
}

.red {
  fill: #d90000;
}/*# sourceMappingURL=branch-info.css.map */