body{
    .news-1{
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
        height: 128px;
        font-size: 12px;
        display: flex;
        justify-items: space-around; 
        gap: 42px;          
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        &:nth-child(1){
            border-top: 1px solid #e5e5e5;    
        }

        .date{
            width: 70px;
            text-align: left;
        }
        .label{
            font-feature-settings: "palt"1;
            width: 135px;
            line-height: 2.1;
            text-align: center;
            background-color: #E5E5E5;
        }
          
    .title{
        max-width: 700px;
        line-height: 24px;
        a:hover{
            color:#D90000;
        }
        @media screen and (max-width:768px){
            flex-direction: column;
            justify-content: start;


        }
    }
}
        
}







