*{
    border: 1px solid red;
}

body{
    max-width: 1000px;
    margin: 0 auto;
   
.privacy-1{
    display: flex;
    flex-wrap: wrap;
    p{
    margin: 104px 0 37px ; 
    display: flex;
    align-items:end;
    width: 30px;
    }

    h1{
    margin: 104px 31px 37px 37px;
    div{
        width: 300px;
        height: 30px;
        img{
            width: 291px;
        }
    }

    }
    .privacypolicy{
        width: 300px;
    }
    border-bottom: solid ;
    border-color: BFBFBF;
}

 .privasy-2{
     p{
    margin: 20px 0 40px 198px;
    }
    font-size: 14px;
}
 h2{
    margin: 68px 0 40px; 
    font-size: 20px;
}
 .saishuu{
     h2{
    margin: 47px 0 40px; 
    font-size: 20px;   
    }

}
 .mokuteki{
    max-width: 980px;
    font-size: 14px;
    text-indent: 10px;
}






}