body{
    .wrap{
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
    
    .date{
        // width: 90px;
        line-height: 20px ;
        font-size: 13px;
        color:#808080;
        margin: 50px 0 33px ;
        @media screen and (max-width:678px) {
            width: 65px;
            font-size: 13px;
            margin-bottom: 18px;  
        }
    }
    h1{
        max-width: 450px;
        font-size: 25px;
        margin: 0 0 180px;
        @media screen and (max-width:678px) {
            // max-width: 350px;
            font-size: 19px;
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid black;
        }
    }
    .text{
        font-size: 14px;
        max-width: 1000px; 
        height: 458px; 
        @media screen and (max-width:678px) {
            height: 600px;   
        }         
    }
}
    .wrap-2{
        padding-top: 45px;
        border-top: 1px solid #BFBFBF;
        font-size: 12px;
        @media screen and (max-width:678px) {
            padding-top: 23px;
        }
        .prev{
            max-width: 1040px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

}
