@charset "UTF-8";
img {
  max-width: 100%;
}

.mv {
  margin-top: 40px;
}
.mv .page-title {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
@media screen and (max-width: 660px) {
  .mv .page-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.mv .page-title h2 {
  border-left: 1px solid black;
  padding-left: 35px;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 {
    padding: 4px 0 4px 15px;
  }
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 img {
    margin-bottom: 10px;
    max-width: 268px;
  }
}
.mv .page-title h2 span {
  font-size: 14px;
  padding-left: 35px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 span {
    padding-left: 0;
  }
}
.mv .page-title h2 br {
  display: none;
}
@media screen and (max-width: 660px) {
  .mv .page-title h2 br {
    display: block;
  }
}
.mv .bread {
  background-color: #f1f1f1;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  .mv .bread {
    display: none;
  }
}
.mv .bread ul {
  max-width: calc(1000px + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 12px;
}

.worries {
  padding-top: 50px;
  background-color: #f1f1f1;
  padding-bottom: 120px;
}
.worries .inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.worries .inner p {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .worries .inner p {
    font-size: clamp(14px, 3.5vw, 19px);
  }
}
.worries .inner .box {
  background-color: white;
  border-radius: 20px;
  padding: 50px 35px 35px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .worries .inner .box {
    padding: 35px 30px 30px 30px;
  }
}
.worries .inner .box h3 {
  color: #b4272d;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .worries .inner .box h3 {
    font-size: 20px;
  }
}
.worries .inner .box .ul-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {
  .worries .inner .box .ul-wrap {
    flex-direction: column;
    gap: 30px;
    max-width: 440px;
  }
}
@media screen and (max-width: 600px) {
  .worries .inner .box .ul-wrap {
    gap: 15px;
    max-width: 300px;
  }
}
.worries .inner .box .ul-wrap ul {
  list-style: url(../img/check.svg) inside;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .worries .inner .box .ul-wrap ul {
    gap: 15px;
    list-style-image: url(../img/check-sp.svg);
  }
}
.worries .inner .box .ul-wrap ul li {
  font-size: 22px;
}
@media screen and (max-width: 600px) {
  .worries .inner .box .ul-wrap ul li {
    font-size: clamp(13.5px, 3.5vw, 15px);
  }
}

.philosophy {
  padding-top: 18%;
  position: relative;
  padding-bottom: 100px;
}
@media screen and (max-width: 580px) {
  .philosophy {
    padding-top: 53%;
    padding-bottom: 20px;
  }
}
.philosophy .obi {
  position: absolute;
  top: -20%;
}
@media screen and (max-width: 1145px) {
  .philosophy .obi {
    top: -13%;
  }
}
.philosophy h2 {
  font-size: 70px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  letter-spacing: 0.1em;
  font-feature-settings: "palt" 1;
}
@media screen and (max-width: 1040px) {
  .philosophy h2 {
    font-size: clamp(38px, 10vw, 50px);
  }
}
.philosophy h2::after {
  content: "";
  background-image: url("../img/red-line.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  max-width: 700px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.philosophy h2 br {
  display: none;
}
@media screen and (max-width: 740px) {
  .philosophy h2 br {
    display: block;
  }
}
.philosophy .description {
  margin-top: 45px;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  padding: 0 20px;
}
@media screen and (max-width: 740px) {
  .philosophy .description {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.1em;
    margin-top: 40px;
  }
}
.philosophy .description span {
  color: #b4272d;
  font-weight: bold;
}
@media screen and (max-width: 735px) {
  .philosophy .description br {
    display: none;
  }
}

.about__cnt1 {
  background-color: #f1f1f1;
  padding: 125px 0;
  background-image: url("../img/bg-logo.png");
  background-size: 55%;
  background-position: -20%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .about__cnt1 {
    padding: 40px 0;
    background-size: 105%;
    background-position: 243% 120%;
  }
}
.about__cnt1 .inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.about__cnt1 .inner h3 {
  color: #b4272d;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner h3 {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
  }
}
.about__cnt1 .inner .cnt-flex {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner .cnt-flex {
    display: block;
  }
}
.about__cnt1 .inner .cnt-flex figure {
  max-width: 122px;
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner .cnt-flex figure {
    float: left;
    margin: 7px 20px 7px 0;
  }
}
.about__cnt1 .inner .cnt-flex .text p {
  font-size: 15px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt" 1;
}
.about__cnt1 .inner .cnt-flex .text .name {
  max-width: 445px;
  margin: 30px 0 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner .cnt-flex .text .name {
    text-align: right;
    font-size: 13px;
    max-width: 210px;
    margin-top: 20px;
  }
}
.about__cnt1 .inner .cnt-flex .text .name br {
  display: none;
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner .cnt-flex .text .name br {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .about__cnt1 .inner .cnt-flex .text .name span {
    display: none;
  }
}
.about__cnt2 {
  padding: 70px 0 87px;
  background-image: url("../img/bg-logo2.png");
  background-size: 55%;
  background-position: 120%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .about__cnt2 {
    padding: 40px 0;
    background-size: 105%;
    background-position: 243% 120%;
  }
}
.about__cnt2 .inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.about__cnt2 .inner h3 {
  color: #b4272d;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner h3 {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
  }
}
.about__cnt2 .inner .cnt-flex {
  display: flex;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .cnt-flex {
    display: block;
  }
}
.about__cnt2 .inner .cnt-flex figure {
  max-width: 224px;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .cnt-flex figure {
    width: 152px;
    float: left;
    margin: 7px 20px 7px 0;
  }
}
.about__cnt2 .inner .cnt-flex .text {
  max-width: 731px;
}
.about__cnt2 .inner .cnt-flex .text p {
  font-size: 15px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  line-height: 21px;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .cnt-flex .text p {
    line-height: 26px;
  }
}
.about__cnt2 .inner .ending {
  margin-top: 20px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .ending {
    line-height: 26px;
  }
}
.about__cnt2 .inner .name {
  max-width: 502px;
  margin: 30px 0 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .name {
    max-width: 279px;
    text-align: right;
    font-size: 13px;
    line-height: 21px;
  }
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .name span {
    display: none;
  }
}
.about__cnt2 .inner .name br {
  display: none;
}
@media screen and (max-width: 768px) {
  .about__cnt2 .inner .name br {
    display: block;
  }
}

.voice {
  background-color: #f1f1f1;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .voice {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.voice .inner {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.voice h3 {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .voice h3 {
    font-size: 18px;
  }
}
.voice .voice-flex {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 999px) {
  .voice .voice-flex {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .voice .voice-flex {
    margin-top: 30px;
  }
}
.voice .voice-flex .item {
  width: 470px;
  background-color: white;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .voice .voice-flex .item {
    padding: 20px 10px;
  }
}
.voice .voice-flex .item .thoughts {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 18px;
  position: relative;
  font-feature-settings: "palt" 1;
  line-height: 32px;
}
@media screen and (max-width: 768px) {
  .voice .voice-flex .item .thoughts {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    font-feature-settings: "palt" 0;
  }
}
.voice .voice-flex .item .thoughts::after {
  content: "";
  background-image: url("../img/voice-line.svg");
  background-position: center;
  width: 100%;
  height: 15.5px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.voice .voice-flex .item .prof {
  margin-top: 20px;
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .voice .voice-flex .item .prof {
    gap: 15px;
  }
}
.voice .voice-flex .item .prof figure {
  width: 161px;
}
.voice .voice-flex .item .prof .name p {
  font-size: 26px;
  font-weight: bold;
  line-height: 33px;
}
.voice .voice-flex .item .prof .name p span {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 390px) {
  .voice .voice-flex .item .prof .name p span {
    font-size: 12px;
  }
}
.voice .voice-flex .item ul {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .voice .voice-flex .item ul {
    gap: 20px 0px;
  }
}
.voice .voice-flex .item ul li {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .voice .voice-flex .item ul li {
    gap: 5px;
    min-width: 136px;
  }
}
.voice .voice-flex .item ul li p {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  width: -moz-fit-content;
  width: fit-content;
  font-feature-settings: "palt" 1;
  padding-top: 3px;
}
@media screen and (max-width: 768px) {
  .voice .voice-flex .item ul li p span {
    display: none;
  }
}
.voice .voice-flex .item ul li p br {
  display: none;
}
@media screen and (max-width: 460px) {
  .voice .voice-flex .item ul li p br {
    display: block;
  }
}
.voice .voice-flex .item ul li p .pc {
  display: block;
}
@media screen and (max-width: 380px) {
  .voice .voice-flex .item ul li p {
    font-size: 13px;
    padding-top: 5px;
  }
}
.voice .voice-flex .item ul li .gray {
  font-size: 13px;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #e5e5e5;
  font-weight: normal;
  padding: 0;
}
@media screen and (max-width: 395px) {
  .voice .voice-flex .item ul li .gray {
    width: 75px;
    font-size: 12px;
  }
}

.achievement {
  background-image: url("../img/jisseki-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 75px;
  background-position: 30%;
}
@media screen and (max-width: 768px) {
  .achievement {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}
.achievement .achievement-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  max-width: 457px;
  border-top: 1px solid white;
  font-feature-settings: "palt" 1;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .achievement .achievement-title {
    font-size: 18px;
    max-width: 352px;
    margin-bottom: 25px;
  }
}
.achievement .inner {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .achievement .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.achievement .inner .items-flex {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .achievement .inner .items-flex {
    width: 83%;
  }
}
.achievement .inner .items-flex .item {
  width: 100%;
  text-align: center;
}
.achievement .inner .items-flex .item .rabel {
  color: #b4272d;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .achievement .inner .items-flex .item .rabel {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.achievement .inner .items-flex .item .num {
  font-size: 47px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 1040px) and (min-width: 769px) {
  .achievement .inner .items-flex .item .num {
    font-size: clamp(38px, 4.2727272727vw, 47px);
  }
}
.achievement .inner .items-flex .item .num span {
  font-size: 94px;
  line-height: 78px;
}
@media screen and (max-width: 1040px) and (min-width: 769px) {
  .achievement .inner .items-flex .item .num span {
    font-size: clamp(70px, 8.5454545455vw, 94px);
    line-height: clamp(60px, 7.0909090909vw, 78px);
  }
}

.activity {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .activity {
    margin-top: 40px;
  }
}
.activity h3 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 5px;
  border-top: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .activity h3 {
    font-size: 18px;
  }
}
.activity p {
  text-align: center;
  line-height: 19px;
  font-size: 15px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .activity p {
    text-align: left;
  }
}
.activity .activity-flex {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 68px;
  padding: 0 20px;
}
@media screen and (max-width: 1040px) {
  .activity .activity-flex {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .activity .activity-flex {
    flex-direction: column;
    margin-top: 40px;
  }
}
.activity .activity-flex .item {
  width: 44.6%;
  max-width: 446px;
}
@media screen and (max-width: 1040px) {
  .activity .activity-flex .item {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .activity .activity-flex .item {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}
.activity .activity-flex .item .rabel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
  gap: 20px;
}
.activity .activity-flex .item .rabel p {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.activity .activity-flex .item .rabel .red {
  background-color: #b4272d;
  width: 157px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.activity .activity-flex .item .item-flex {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .activity .activity-flex .item .item-flex {
    display: block;
  }
}
.activity .activity-flex .item .item-flex figure {
  width: 226px;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .activity .activity-flex .item .item-flex figure {
    width: 49%;
    max-width: 600px;
  }
}
@media screen and (max-width: 480px) {
  .activity .activity-flex .item .item-flex figure {
    float: left;
    margin: 0 20px 0 0;
    width: 171px;
  }
}
.activity .activity-flex .item .item-flex p {
  width: 220px;
  text-align: left;
  line-height: 18px;
  letter-spacing: 0.05em;
  font-feature-settings: "palt" 1;
  font-size: 14px;
  padding: 0;
}
.activity .activity-flex .item .item-flex p br {
  line-height: 6px;
}
@media screen and (max-width: 768px) {
  .activity .activity-flex .item .item-flex p {
    width: 49%;
    max-width: 600px;
  }
}
@media screen and (max-width: 480px) {
  .activity .activity-flex .item .item-flex p {
    width: auto;
    line-height: 21px;
  }
}

.btn {
  margin: 40px auto 120px;
  width: 300px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .btn {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}
.btn a {
  display: block;
  line-height: 56px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #d90000;
  border: 1px solid #d90000;
  border-radius: 28px;
  transition: all 0.3s;
}
.btn a:hover {
  background-color: white;
  color: #d90000;
}/*# sourceMappingURL=biginners-guide.css.map */