body {
    .wrap-2{
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 30px;
        .agenda
            h1 {
                max-width: 1060px;
                padding-bottom: 13px;
                border-bottom: 1px solid #a6a6a6;
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 30px auto 170px;
                }
        .theme {
            max-width: 1000px;
            border: 1px #a6a6a6 solid;
            border-left: 10px #000 solid;
            display: flex;
            justify-content: center;
            margin: 30px auto 100px;
            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
            @media screen and (max-width:400px) {
                align-items: center;
                flex-direction: column-reverse;
                // max-width: 490px;
            }
            .meeting_left {
                width: 50%;
                padding:15px 0 10px 18px;
                @media screen and (max-width:768px) {
                    width: 100%;
                    max-width: 100%;
                }   
                .meeting-1 {
                    width: 151px;
                    margin-bottom: 10px;
                }
                .left_flex{
                    // display: flex;
                    .meeting-2 p {
                        font-size: 12px;
                        width: 75px;
                        // margin: 0 80px 123px 15px;
                    }
                    .meeting-3 {
                        width: 228px;
                        text-align: right;
                        padding-top: 7px;
                        font-size: 12px;
                        color: #808080;
                        // padding: 7px 0 13px 235px;
                        margin: 19% 19px 0 auto;
                        align-self: flex-end;
                        border-top: 1px solid #808080;
                        @media screen and (max-width:1000px) {
                            margin-top: 17%;
                        }
                        @media screen and (max-width:900px) {
                            margin-top: 10%;
                         }
                         @media screen and (max-width:768px) {
                            margin-top: 32px ;
                         }
                    }        
                }  
            }
        }
        .meeting_setumei{
            width: 50%;
            height: 100%;
            overflow: hidden;
            @media screen and (max-width:768px) {
                width: 100%;    
            }
            img {
                width: 100%; 
                height: 100%; 
                // object-fit: cover;
                // object-position: 50%;      
            }   
        }
    }
        a:hover {
            .meeting-2{
                color: #D90000;
            }
            .theme{
                border-left: 10px solid #D90000;
                .red{
                    fill: #D90000;
                }
            }   
            .meeting_setumei{
                opacity: 0.5;
            }
        }
        .agenda-2{
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 13px;
        }
        .wrap {
            max-width: 1060px;
            margin: 0 auto;
            padding: 0 30px;
            }
        .information {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 40px 20px;
            padding-top: 30px;
            border-top: 1px solid #a6a6a6;
            // margin-top: 30px;
            @media screen and (max-width:1059px){
            justify-content: space-between;
            max-width: 700px;   
            margin: 0 auto;
            }
            @media screen and (max-width:768px) {
                align-items: center;
            }  
            a{ 
                max-width: 320px;
                width: 33%;
                @media screen and (max-width:1059px) {
                 width:48%;   
                }
                @media screen and (max-width:730px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .branch {
                height: 130px;
                border: 1px solid #A6A6A6;
                border-left: 10px solid #000000;
                position:relative;
                overflow: hidden;
                padding: 5px 10px 10px 10px;
                .osaka{
                    margin: 10px 0 5px 0;
                }
                .nagoya{
                    margin: 12px 0 10px 0;
                }
                .nagano{
                    margin: 12px 0 10px 0;
                }
                .sikoku{
                    margin: 15px 0 10px 0;
                }
                .hirosima{
                    margin: 12px 0 10px 0;
                }
                .shiga{
                    margin: 12px 0 10px 0;
                }
                .kyusyu{
                    margin: 12px 0 10px 0;
                }
                .shizuoka{
                    margin-top: 13px;
                    margin-bottom: 10px;
    
                }
                .supporter{
                    margin: 13px 0 10px 0;
                }
                .place{
                    padding-bottom:35px;
                    border-bottom: 1px solid#A6A6A6;
                    font-size: 12px;
                }
                .photo-2{
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    left: 50%;
                    transform: translateX(-50%);
                    }
                .detail{
                    font-size: 12px;
                    text-align: right;
                    color: #808080;
                    margin-top: 7px;
                }
            } 
        }
        a:hover{
            .place{
                color: #D90000;
            }
            .branch{
                border-left: 10px solid #D90000;
                .red{
                    fill: #D90000;
                }
            }   
            }
    
}



