.wrap {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 1rem;
}

.voice_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .voice_inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.voice_inner .voice {
  max-width: 485px;
  width: 47%;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice {
    width: 100%;
  }
}
.voice_inner h3 {
  width: 100%;
  margin: 0 auto 8px 10px;
  font-size: 16px;
  color: #808080;
}
.voice_inner h3 span {
  margin: 0 auto 0 5px;
}
@media screen and (max-width: 768px) {
  .voice_inner h3 {
    font-size: 16px;
  }
}
.voice_inner .voice-1,
.voice_inner .voice-2 {
  padding: 28px 31px 25px 24px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1,
  .voice_inner .voice-2 {
    padding: 20px;
  }
}
.voice_inner .voice-1 .title,
.voice_inner .voice-2 .title {
  max-width: 425px;
  line-height: 31px;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1 .title,
  .voice_inner .voice-2 .title {
    line-height: 28px;
  }
  .voice_inner .voice-1 .title p,
  .voice_inner .voice-2 .title p {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .voice_inner .voice-1 .title p,
  .voice_inner .voice-2 .title p {
    font-size: 16px;
  }
}
.voice_inner .voice-1 .information,
.voice_inner .voice-2 .information {
  display: flex;
  gap: 30px;
}
@media (max-width: 480px) {
  .voice_inner .voice-1 .information,
  .voice_inner .voice-2 .information {
    gap: 15px;
  }
}
.voice_inner .voice-1 .information img,
.voice_inner .voice-2 .information img {
  width: 137px;
  height: 145px;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1 .information img,
  .voice_inner .voice-2 .information img {
    width: 100px;
    height: 106px;
  }
}
.voice_inner .voice-1 .information .infor,
.voice_inner .voice-2 .information .infor {
  width: 70%;
}
.voice_inner .voice-1 .information .infor .company,
.voice_inner .voice-2 .information .infor .company {
  margin: 55px 0 0;
  font-size: 14px;
}
.voice_inner .voice-1 .information .infor .name,
.voice_inner .voice-2 .information .infor .name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto 7px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #808080;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1 .information .infor .name,
  .voice_inner .voice-2 .information .infor .name {
    max-width: 256px;
    font-size: 20px;
  }
}
.voice_inner .voice-1 .information .infor .name span,
.voice_inner .voice-2 .information .infor .name span {
  font-size: 14px;
  color: #808080;
}
.voice_inner .voice-1 .information .infor .name span p,
.voice_inner .voice-2 .information .infor .name span p {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1 .information .infor .name span,
  .voice_inner .voice-2 .information .infor .name span {
    font-size: 12px;
  }
}
.voice_inner .voice-1 .information .infor .name br,
.voice_inner .voice-2 .information .infor .name br {
  display: none;
}
@media screen and (max-width: 856px) and (min-width: 769px) {
  .voice_inner .voice-1 .information .infor .name br,
  .voice_inner .voice-2 .information .infor .name br {
    display: block;
  }
}
.voice_inner .voice-1 .information .infor .view p,
.voice_inner .voice-2 .information .infor .view p {
  max-width: 283px;
  text-align: right;
  font-size: 14px;
  color: #808080;
}
@media screen and (max-width: 768px) {
  .voice_inner .voice-1 .information .infor .view p,
  .voice_inner .voice-2 .information .infor .view p {
    max-width: 203px;
    font-size: 12px;
    max-width: 283px;
    text-align: right;
  }
}

a:hover .voice-1,
a:hover .voice-2 {
  background-color: #FFFFFF;
}/*# sourceMappingURL=members-voices.css.map */