

// body {
.wrap {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 1rem;
    // justify-content: space-between;
}
.voice_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    justify-content: space-between;
    @media screen and (max-width :768px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .voice{
        max-width: 485px;
        width: 47%;
        @media screen and (max-width :768px){
            width:100%;
            }
        } 
        h3 {
            // max-width: 485px;
            width: 100%;
            margin: 0 auto 8px 10px;
            span {
                margin: 0 auto 0 5px;
            }
            font-size: 16px;
            color: #808080;
            @media screen and (max-width:768px) {
                font-size: 16px;
            }
        }
        .voice-1,
        .voice-2 {
            // max-width: 485px;
            // margin: 5px auto 75px;
            padding: 28px 31px 25px 24px;
            // height: 275px;
            border: 1px solid #f1f1f1;
            background-color: #f1f1f1;
            // transition: all 0.3s;
            @media screen and (max-width:768px) {
                padding: 20px;
            }
            .title {
                max-width: 425px;
                line-height: 31px;
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: bold;
                @media screen and (max-width:768px) {
                    line-height: 28px;
                    p {
                        font-size: 16px;
                    }
                }
                @media screen and (max-width:480px) {
                    p {
                        font-size: 16px;
                    }
                }
            }
            .information {
                display: flex;
                gap: 30px;
                @media (max-width: 480px) {
                    gap: 15px;
                }
                img {
                    width: 137px;
                    height: 145px;
                    @media screen and (max-width:768px) {
                        width: 100px;
                        height: 106px;
                    }
                }
                .infor {
                    width: 70%;
                    .company {
                        margin: 55px 0 0;
                        font-size: 14px;
                        // @media screen and (max-width:768px) {
                        //     font-size: 14px;
                        // }
                    }
                    .name {
                        font-size: 20px;
                        font-weight: bold;
                        margin: 10px auto 7px 0;
                        padding-bottom: 25px;
                        border-bottom: 1px solid #808080;
                        @media screen and (max-width:768px) {
                            max-width: 256px;
                            font-size: 20px;
                        }
                        span {
                            font-size: 14px;
                            color: #808080;
                            p {
                                font-weight: bold;
                            }
                            @media screen and (max-width:768px) {
                                font-size: 12px;
                            }
                        } 
                        br{
                            display: none;
                            @media screen and (max-width:856px) and (min-width:769px) {
                                display:block ;
                            }
                        }  
                    }
                    .view p {
                        max-width: 283px;
                        text-align: right;
                        font-size: 14px;
                        color: #808080;
                        @media screen and (max-width:768px) {
                            max-width: 203px;
                            font-size: 12px;
                            max-width: 283px;
                            text-align: right;
                        }
                    }
                }
            }   
        }
    }

a:hover {
    .voice-1,
    .voice-2 {
        background-color: #FFFFFF;
    }
}

